.App h1 {
  text-align: center;
  margin: 30px 0 20px;
  line-height: 1.5;
}

.App footer {
  margin-top: 30px;
  font-size: 12px;
}

.App footer a {
  color: rgb(152, 94, 1);
}

.App footer a:hover {
  color: rgb(233, 146, 4);
}
