.Dictionary section {
  background-color: rgb(217, 189, 124);
  padding: 26px;
  border-radius: 10px;
  margin: 20px 0px;
  box-shadow: 6px 5px 15px rgba(136, 84, 0, 0.6);
  color: rgb(71, 64, 46);
}

.Dictionary form {
  text-align: center;
}

.Dictionary .input-form {
  max-width: 70%;
  width: 100%;
  margin: 10px 30px 0 0;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid rgb(217, 189, 124);
  color: rgb(71, 64, 46);
}

.Dictionary .input-form::placeholder {
  font-size: 14px;
  font-style: italic;
  opacity: 0.4;
  color: rgb(152, 94, 1);
}

.Dictionary .form-button {
  max-width: 22%;
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: rgb(233, 146, 4);
  color: antiquewhite;
  border: 1px solid rgb(180, 113, 5);
  box-shadow: 6px 5px 8px rgba(136, 84, 0, 0.6);
}

.Dictionary .form-button:hover {
  transform: scale(1.05);
  background-color: rgb(226, 139, 0);
}

.Dictionary h2,
.Results h3,
.Meaning h4 {
  margin: 0 12px;
}

.Dictionary h2 {
  font-size: 26px;
}

.Results h3 {
  font-size: 28px;
  line-height: 1.5;
}

.Results h5 {
  opacity: 0.6;
  font-size: 18px;
  margin: 0 12px;
  font-weight: 400;
}

.Meaning h4 {
  font-size: 22px;
  font-weight: 600;
}

.Meaning p {
  margin: 5px 0 8px 12px;
  opacity: 0.9;
  font-size: 18px;
}

.Meaning .example {
  font-style: italic;
  opacity: 0.8;
  font-size: 15px;
  margin-top: 6px;
  font-weight: 300;
}

.Meaning .synonyms-container {
  margin: 15px 0 0 12px;
}

.Meaning .synonym {
  opacity: 0.8;
  font-size: 15px;
  margin: 0;
  font-weight: 500;
}

.Meaning ul {
  display: inline;
  padding: 0;
}

.Meaning li {
  display: inline-block;
  padding-right: 20px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: 300;
}

.Photos img {
  aspect-ratio: 4/3;
  border-radius: 4px;
}

.Photos img:hover {
  transform: scale(1.3);
}
